<div class="container">
    <div style='border:1px solid red'>
        <h3>General Info</h3>
        <info-fields (formInformationUpdated) = 'componentFieldUpdate($event)'></info-fields>
    </div>
    <form>
        <image-upload [folder]="folderName" (imageUploaded)='componentFieldUpdate($event)'></image-upload>
        <hr>
        <h3>Product Selection</h3>
        <product-selection (productSelectionUpdated)='componentFieldUpdate($event)'></product-selection>
        <button md-button (click)="addFields()">Add Entry To Firebase</button>
    </form>
    <div *ngIf="invalidMessages && invalidMessages.length" class="invalid-message-container">
        <ul>
            <li *ngFor="let message of invalidMessages">
                {{message}}
            </li>
        </ul>
    </div>

    <br>
    <br>
    
    <br>
    <br>
    <div style='border:1px solid red'>
        <h3>Product Addition</h3>
        <product-addition></product-addition>
    </div>
</div>
<!--<form >
    <label for="product">
        <input type="text" [(ngModel)]  = "product" id="product" >
        <image-upload [folder] = "folderName" (imageUploaded) = imageUploaded($event)></image-upload>
    </label>
    <button (click) = "addProduct()">add Product</button>
</form>-->